*{
    margin: 0;
    padding: 0;
}
/* nav bar  */
.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo{
    color: rgb(249, 242, 233);
    padding-left: 2vw;
     font-family: 'Brush Script MT', cursive;
}
.logo_l{
    color: rgb(223, 24, 24);
}

.navcontent{
    display: flex;
    margin-right: 15vw;
    text-align: center;
    padding-top: 0.5vw;
    justify-content: space-between;
}
.navelement{
    color: rgb(252, 245, 236);
    margin-left: 2vw;
    text-decoration: none;
}
.navelement:hover{
    color:rgb(223, 24, 24);
    cursor: grab;
    transition: 0.2s;
}
/* landing page */
.landingimage{
    background-color: black;
    height: 95vh;
}
.landingimage img{
    height: 95vh;
    width:100%;
    opacity: 0.5;
}
.title{
    color:rgb(252, 245, 236);;
    position: absolute;
    top: 20%;
    height: 20%;
    left: 3%;
    width: 35%;
    font-size: 4vh;
    inset-inline-start: center;
}
.title h1{
    font-size: 9vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2vh;
    padding-left: 0%;
    margin: 0;
}
.shopbuttons button{
    width: 10vw;
    background-color: black;
    color: white;
    padding: 1vw;
    border-radius: 1vw;
}
.title h6:hover{
    cursor: pointer;
    color: rgb(105, 17, 17);
}
.title h1 span:hover{
    transition: 0.1s;
    cursor: pointer;
    color: brown;

}
.shopbuttons button:hover{
    cursor: pointer;
    color: brown;
    box-shadow: 5px 5px  5px rgb(93, 92, 92);
}

/* future of eyewear */
.future_title{
    margin: 5vw;
}
.future_title h1{
    font-size: 4vw;
}
.circlebox{
    display: flex;
    margin: 2vw;
}
.both{
    height: 20vw;
    margin: 2vw;
    text-align: center;
    align-items: center;
}
.circles{
    margin-left: 5vw;
    height:10vw;
    width:50%;
    border-radius: 50%;
    background-color: rgb(252, 223, 60);
}
.circles:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(209, 186, 52, 0.749);
}
.circlebox:hover{
    flex-direction: row-reverse;
}
/* individual style */

.individual_style{
    height: 101vh;
    background-color: rgb(229, 234, 252);
}

.design{
    position: absolute;
    bottom: -150%;
    right: 2%;
    width: 40vw;
    font-size: 4vh;
    inset-inline-start: center;
    
}
.design h1{
    font-size: 4vw;
}
.design p{
    font-size: 1.2vw;
    margin: 5px;
}
.circleimg{
    position: absolute;
    border-radius: 50%;
}
#circle1{
    right: 20vw;
    width: 20vw;
    height: 38vh;
    bottom: -200%;
}#circle2{
    right: 10vw;
    width: 15vw;
    height: 25vh;
    bottom: -180%;
}#circle3{
    right: 43vw;
    width: 20vw;
    height: 35vh;
    bottom: -130%;
}#recimg1{
    position: absolute;
    width: 20vw;
    left: 5vw;
    height: 105vh;
    bottom: -205%;
}#recimg2{
    position: absolute;
    left: 28vw;
    width: 20vw;
    height: 100vh;
    bottom: -205%;
    
}
#circle1:hover{
    cursor: pointer;
    box-shadow: 5px 5px  5px rgb(93, 92, 92);
}
#circle2:hover{
    cursor: pointer;
    box-shadow: 5px 5px  5px rgb(93, 92, 92);
    right: 30vw;
}
#circle3:hover{
    cursor: pointer;
    box-shadow: 5px 5px  5px rgb(93, 92, 92);
}
#recimg2:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px  5px rgb(93, 92, 92);
}
#recimg1:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgb(93, 92, 92);
}
@media screen and (max-width: 1170px) {
    
.design{
    position: absolute;
    bottom: -110%;
    right: 2%;
    width: 40vw;
    font-size: 4vh;
    inset-inline-start: center;
    
}
.design h1{
    font-size: 4vw;
}
.design p{
    font-size: 1.2vw;
    margin: 5px;
}
.circleimg{
    position: absolute;
    bottom: -160%;
    border: 2px solid black;
    border-radius: 50%;
}
#circle1{
    right: 20vw;
    width: 25vw;
    height: 38vh;
    bottom: -180%;
}#circle2{
    right: 10vw;
    width: 20vw;
    height: 25vh;
    bottom: -155%;
}#circle3{
    right: 45vw;
    width: 25vw;
    height: 30vh;
    bottom: -122%;
}.recimg1{
    position: absolute;
    border: 2px solid black;
    width: 20vw;
    left: 5vw;
    height: 105vh;
    bottom: -180%;
}.recimg2{
    position: absolute;
    left: 28vw;
    border: 2px solid black;
    width: 20vw;
    height: 100vh;
    bottom: -180%;
    
}
}